<div *ngIf="cursus">
  <h2>Cursus details</h2>
  <div class="ui dividing header"></div>

  <form class="ui form">
    <div class="ui grid">
      <div class="two column row">
        <div class="column">
          <div class="field">
            <label>Naam</label>
            <div class="field">
              {{ cursus.naam }}
            </div>
          </div>
          <div class="field">
            <label>Attitude</label>
            <div class="field">
              {{ cursus.attitude }}
            </div>
          </div>
          <div class="field">
            <label>Functieniveau</label>
            <div class="field">
              {{ cursus.functieniveau }}
            </div>
          </div>
          <div class="field">
            <label>Slagingscriterium</label>
            <div class="field">
              {{ cursus.slagingscriterium }}
            </div>
          </div>
          <div class="field">
            <label>Maximum aantal deelnemers</label>
            <div class="field">
              {{ cursus.maxdeelnemers }}
            </div>
          </div>
          <div class="field">
            <label>Beschrijving</label>
            <div class="field">
              {{ cursus.beschrijving }}
            </div>
          </div>
        </div>

        <div class="column">
          <div class="field">
            <label>Status</label>
            <div class="field">
              {{ cursus.status }}
            </div>
          </div>
          <div class="field">
            <label>Data</label>
            <ul class="field">
              <li *ngFor="let cursusdatum of cursus.cursusdata">
                {{ cursusdatum.datum }}
              </li>
            </ul>
          </div>
          <div class="field">
            <label>Docenten</label>
            <ul class="field">
              <li *ngFor="let cursusdocent of cursus.cursusdocenten">
                {{ cursusdocent.naam }}, <i>{{ cursusdocent.email }}</i>
              </li>
            </ul>
          </div>
          <div class="field">
            <label>Cursisten</label>
            <ul class="field">
              <li *ngFor="let cursuscursist of cursus.cursuscursisten">
                {{ cursuscursist.naam }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="ui right floated button" (click)="goBack()">
      Terug
    </div>

    <div
      [class.disabled]="
        isAangemeld ||
        cursus.maxdeelnemers == cursus.cursuscursisten.length ||
        isPreviousDate
      "
      class="ui right floated pink button"
      suiPopup
      [popupTemplate]="confirmApplicationTemplate"
      [popupTemplateContext]="cursus"
      popupTrigger="outsideClick"
      #popup="suiPopup"
    >
      Aanmelden
    </div>
    <ng-template let-popup #confirmApplicationTemplate>
      <div class="header">Aanmelden</div>
      <div class="content">
        <p>Weet je het zeker?</p>
        <button class="ui pink button" (click)="apply($event); popup.close()">
          Ja
        </button>
        <button class="ui button" (click)="popup.close()">Nee</button>
      </div>
    </ng-template>
  </form>
</div>
