<div *ngIf="cursussen">
  <h2>Cursus kalender</h2>
  <div class="ui dividing header"></div>

  <div class="ui right pink button" (click)="goToNew()">
      <i class="plus icon"></i>Aanmaken
  </div>

  <div [class.disabled]="defaultFiltering" class="ui right floated icon button" suiPopup
      popupPlacement="top"
      [popupTemplate]="sorteerTemplate"
      popupTrigger="outsideClick"
      #popup="suiPopup">
      <i *ngIf="defaultSorteringOrder" class="sort alphabet ascending icon"></i>
      <i *ngIf="!defaultSorteringOrder" class="sort alphabet descending icon"></i>
  </div>
  <ng-template let-popup #sorteerTemplate>
      <div class="header">Sorteren</div>
      <div class="content">
        <p>Kies links 'oplopend' of 'aflopend' en rechts het te sorteren veld.</p>
        <div *ngIf="defaultSorteringOrder" class="ui icon button" (click)="changeSorteringOrder()">
          <i class="sort alphabet ascending icon"></i>
        </div>
        <div *ngIf="!defaultSorteringOrder" class="ui icon button" (click)="changeSorteringOrder()">
          <i class="sort alphabet descending icon"></i>
        </div>
        <div class="ui dropdown button" suiDropdown>
          <div *ngIf="defaultSorteringProperty; then selectedSortOption else defaultSortOption"></div>
          <ng-template #selectedSortOption>
            {{defaultSorteringProperty}}
          </ng-template>
          <ng-template #defaultSortOption>
            Veld
          </ng-template>
            <i class="dropdown icon"></i>
            <div class="menu" suiDropdownMenu>
              <ng-container *ngFor="let optie of sorteringsOpties">
                <div class="item" (click)="sortCursussenProperty(optie)">{{optie}}</div>
              </ng-container>
            </div>
        </div>
      </div>
  </ng-template>
  <div class="ui right floated icon button" suiPopup
      popupPlacement="top"
      [popupTemplate]="filterTemplate"
      popupTrigger="outsideClick"
      #popup="suiPopup">
      <i class="filter icon"></i>
  </div>
  <ng-template let-popup #filterTemplate>
      <div class="header">Filteren</div>
      <div class="content">
        <p>Switch tussen 'Alle cursussen' en 'Cursussen aankomend jaar'.</p>
        <button *ngIf="defaultFiltering" class="ui icon button" (click)="changeFiltering()" (click)="popup.close()">
          Alle cursussen
        </button>
        <button *ngIf="!defaultFiltering" class="ui icon button" (click)="changeFiltering()" (click)="popup.close()">
          Cursussen aankomend jaar
        </button>
      </div>
  </ng-template>

  <div *ngIf="defaultFiltering; then filtered; else unFiltered"></div>

  <ng-template #filtered>
    <p>
      <ng-container *ngFor="let maand of maanden; let i = index;">
        <ng-container *ngIf="maandHasCursus(i);">
          <h5>{{maandenTekst[maand-1]}} {{jaren[i]}}</h5>

          <p>
            <sui-accordion class="styled fluid" [closeOthers]='true'>
              <ng-container *ngFor="let cursus of cursussen;">
                <ng-container *ngIf="+cursus.cursusdata[0].datum.substr(3, 2) == maand && +cursus.cursusdata[0].datum.substr(6, 4) == jaren[i]">
                  <sui-accordion-panel [isOpen]='false' >

                    <div title>
                      <div class="ui bottom aligned grid" >
                        <div class="two wide right aligned column">
                          <h4>
                            {{ cursus.cursusdata[0].datum.substr(0, 10)}}
                          </h4>
                        </div>
                        <div class="one wide right aligned column">
                          <h2>
                            <ng-container *ngIf="(cursus.maxdeelnemers == cursus.cursuscursisten.length || !dateAfterToday(cursus.cursusdata[0].datum.substr(0, 10))) && !cursus.aangemeld">
                              <i class="lock icon"></i>
                            </ng-container>
                            <ng-container *ngIf="(cursus.maxdeelnemers > cursus.cursuscursisten.length && dateAfterToday(cursus.cursusdata[0].datum.substr(0, 10))) && !cursus.aangemeld">
                              <i class="unlock icon"></i>
                            </ng-container>
                            <ng-container *ngIf="cursus.aangemeld">
                              <i class="check circle green icon"></i>
                            </ng-container>
                          </h2>
                        </div>
                        <div class="seven wide column">
                          <h2>
                            {{ cursus.naam }}
                          </h2>&nbsp;&nbsp;&nbsp;
                          <h4 class="attitude">
                            {{ cursus.attitude }}
                          </h4>
                        </div>
                        <div class="six wide right aligned column">
                          <h4>
                            <i class="users icon"></i>
                            ({{cursus.cursuscursisten.length}}/{{cursus.maxdeelnemers}})
                          </h4>
                        </div>
                      </div>
                    </div>

                    <div content>
                      <div class="ui top aligned grid">
                        <div class="row">
                          <div class="three wide column">
                          </div>
                          <div class="thirteen wide column">
                            <div>
                              {{cursus.beschrijving}}
                            </div>

                            <div [class.disabled]="cursus.aanpassen" class="ui right floated button"  suiPopup
                                [popupTemplate]="confirmDeleteTemplate"
                                [popupTemplateContext]="cursus"
                                popupTrigger="outsideClick"
                                #popup="suiPopup">
                              <i class="remove icon"></i>Verwijderen
                            </div>
                            <ng-template let-popup #confirmDeleteTemplate>
                                <div class="header">Verwijderen</div>
                                <div class="content">
                                    <p>Weet je het zeker?</p>
                                    <button class="ui pink button" (click)="deleteCursus(cursus, $event)">Ja</button>
                                    <button class="ui button" (click)="popup.close()">Nee</button>
                                </div>
                            </ng-template>
                            <div [class.disabled]="cursus.aanpassen" class="ui right floated button" (click)="gotoEdit(cursus)">
                              <i class="settings icon"></i>Wijzigen
                            </div>
                            <div class="ui right floated button" (click)="gotoDetail(cursus)">
                              <i class="info circle icon"></i>Details
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>

                  </sui-accordion-panel>
                </ng-container>
              </ng-container>
            </sui-accordion>
          </p>

        </ng-container>
      </ng-container>
    </p>
  </ng-template>
  <ng-template #unFiltered>
    <p>
      <sui-accordion class="styled fluid" [closeOthers]="true">
        <ng-container *ngFor="let cursus of cursussen">
          <sui-accordion-panel [isOpen]="false" >

            <div title>
              <div class="ui bottom aligned grid">
                <div class="two wide right aligned column">
                  <h4>
                    {{ cursus.cursusdata[0].datum.substr(0, 10)}}
                  </h4>
                </div>
                <div class="one wide right aligned column">
                  <h2>
                    <ng-container *ngIf="(cursus.maxdeelnemers == cursus.cursuscursisten.length || !dateAfterToday(cursus.cursusdata[0].datum.substr(0, 10))) && !cursus.aangemeld">
                      <i class="lock icon"></i>
                    </ng-container>
                    <ng-container *ngIf="(cursus.maxdeelnemers > cursus.cursuscursisten.length && dateAfterToday(cursus.cursusdata[0].datum.substr(0, 10))) && !cursus.aangemeld">
                      <i class="unlock icon"></i>
                    </ng-container>
                    <ng-container *ngIf="cursus.aangemeld">
                      <i class="check circle green icon"></i>
                    </ng-container>
                  </h2>
                </div>
                <div class="seven wide column">
                  <h2>
                    {{ cursus.naam }}
                  </h2>&nbsp;&nbsp;&nbsp;
                  <h4 class="attitude">
                    {{ cursus.attitude }}
                  </h4>
                </div>
                <div class="six wide right aligned column">
                  <h4>
                    <i class="users icon"></i>
                    ({{cursus.cursuscursisten.length}}/{{cursus.maxdeelnemers}})
                  </h4>
                </div>
              </div>
            </div>

            <div content>
              <div class="ui top aligned grid">
                <div class="row">
                  <div class="three wide column">
                  </div>
                  <div class="thirteen wide column">
                    <div>
                      {{cursus.beschrijving}}
                    </div>

                    <div [class.disabled]="cursus.aanpassen" class="ui right floated button"  suiPopup
                        [popupTemplate]="confirmDeleteTemplate"
                        [popupTemplateContext]="cursus"
                        popupTrigger="outsideClick"
                        #popup="suiPopup">
                      <i class="remove icon"></i>Verwijderen
                    </div>
                    <ng-template let-popup #confirmDeleteTemplate>
                        <div class="header">Verwijderen</div>
                        <div class="content">
                            <p>Weet je het zeker?</p>
                            <button class="ui pink button" (click)="deleteCursus(cursus, $event)">Ja</button>
                            <button class="ui button" (click)="popup.close()">Nee</button>
                        </div>
                    </ng-template>
                    <div [class.disabled]="cursus.aanpassen" class="ui right floated button" (click)="gotoEdit(cursus)">
                      <i class="settings icon"></i>Wijzigen
                    </div>
                    <div class="ui right floated button" (click)="gotoDetail(cursus)">
                      <i class="info circle icon"></i>Details
                    </div>

                  </div>
                </div>
              </div>
            </div>

          </sui-accordion-panel>
        </ng-container>
      </sui-accordion>
    </p>
  </ng-template>
</div>
