<div class="ui container">

  <div *ngIf="authenticated; else elseBlock">
    <div class="ui grid">
      <div class="row">
        <div class="right aligned column">
          <div>
            Ingelogd als {{getUserName()}}
          </div>
          <div class="ui right icon button" (click)="logOut()">
            <i class="sign out icon"></i>Uitloggen
          </div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>

  <ng-template #elseBlock>
    <div class="ui container">
      <h2 #LoggedOut>Welkom bij KZA Connected</h2>
      <div class="ui dividing header"></div>
        <p>Log in voor een actueel overzicht van de cursussen.</p>
      <div class="ui right pink button" (click)="logIn()">
        <i class="sign in icon"></i>Inloggen
      </div>
    </div>
  </ng-template>
</div>
